.item-img {
    --ion-item-background-activated: transparent;
    --ion-item-background: transparent;
    --ion-item-background-focused: transparent;
    --ion-item-background-hover: transparent;

    --ion-item-background-activated: transparent;
    --background: transparent;
    --background-activated: transparent;
    --background-focused: transparent;
    --background-hover: transparent;
    background: transparent;

    --background-activated-opacity: 0;
    --background-focused-opacity: 0;
    --background-hover-opacity: 0;
    --transition: none;
}